<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>


    <h4 class="panel-title d-flex justify-content-between align-items-center mt-2">
        {{entity}} List</h4>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-link d-none d-sm-inline-block">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
                        class="avatar img-fluid rounded me-1" alt="Avatar image" />
                    <span class="text-dark">{{getUsername()}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<script src="../../../assets/data/app.js"></script>