<link href="../../../assets/data/app.css" rel="stylesheet">
<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main">
        <app-navbar-horizontal entity="Comment"></app-navbar-horizontal>
        <main class="content" style="margin-top: -5px;">
            <div class="container-fluid p-0">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading d-flex justify-content-between align-items-center p-2">
                                    <h4 class="panel-title d-flex justify-content-between align-items-center">
                                        All ({{countComments}})
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover"
                                            id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Usuario</th>
                                                    <th>Comentario</th>
                                                    <th>Publicación</th>
                                                    <th>Valoración media</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of listComments">
                                                    <th scope="row">{{c.usuario}}</th>
                                                    <td>{{c.comment}}</td>
                                                    <td>{{c.publication.titulo}}</td>
                                                    <td>{{c.publication.valoracionMedia}}</td>

                                                    <td class="text-end">
                                                        <div class="d-inline-flex">
                                                            <button type="button" (click)="openPopDelete(deleteModal,c)" class="btn btn-danger">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" fill="currentColor" class="bi bi-trash"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                                    <path
                                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="d-flex" style="padding-top: 15px;">
                              <ngb-pagination class="custom-pagination" [maxSize]="5" [boundaryLinks]="true"
                              [collectionSize]="countComments" [(page)]="currentPage" [pageSize]="20"
                              (pageChange)="loadNewPage()" aria-label="Default pagination">
                          </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="color: rgb(255, 51, 51);">Delete comment</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Are you sure you want to delete the comment <span style="color: rgb(255, 51, 51);"
                [textContent]="selectedComment.comment"></span>
            of the user <span style="color: rgb(255, 51, 51);"
            [textContent]="selectedComment.usuario"></span> in the <span style="color: rgb(255, 51, 51);"
            [textContent]="selectedComment.publication.titulo"></span> publication?</h5>
            <div class="container" style="margin-left: 30%; margin-top: 30px;">
              <a class="btn btn-success" (click)="remove()" style="margin-right: 20px;">
                  <i class="bi bi-check-lg" style="color: white; font-size: 17px;"></i>
                  <span>Yes</span>
              </a>
              <a class="btn btn-danger" (click)="modal.dismiss()" >
                  <i class="bi bi-x-lg" style="color: white; font-size: 17px;"></i>
                  <span>Cancel</span>
              </a>
          </div>
    </div>
</ng-template>