<link href="../../../assets/data/app.css" rel="stylesheet">
<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main">
        <app-navbar-horizontal entity="Category"></app-navbar-horizontal>
        <main class="content" style="margin-top: -5px;">
            <div class="container-fluid p-0">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading d-flex justify-content-between align-items-center p-2">
                                    <h4 class="panel-title d-flex justify-content-between align-items-center">
                                        All ({{countCategories}})
                                        <button (click)="openForm(categoryModal)" type="button"
                                            class="btn btnhover rounded-pill px-4 ms-3"
                                            style="background-color: #495057; color: white;">
                                            ADD NEW
                                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27"
                                                fill="currentColor" class="bi bi-plus ms-2" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                            </svg>
                                        </button>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover"
                                            id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Nombre Categoría</th>
                                                    <th>Cantidad publicaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of listCategories">
                                                    <th scope="row">{{c.nombre}}</th>
                                                    <td>{{c.publicaciones.length}}</td>
                                                    <td class="text-end">
                                                        <div class="d-inline-flex">
                                                            <button type="button" (click)="openEditModal(editCategoryModal, c)"
                                                                class="btn btn-primary buttonPers2 me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" fill="currentColor" class="bi bi-pen"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                                                </svg>
                                                            </button>
                                                            <button type="button" (click)="openPopDelete(deleteModal,c)" class="btn btn-danger">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" fill="currentColor" class="bi bi-trash"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                                    <path
                                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="d-flex" style="padding-top: 15px;">
                              <ngb-pagination class="custom-pagination" [maxSize]="5" [boundaryLinks]="true"
                              [collectionSize]="countCategories" [(page)]="currentPage" [pageSize]="20"
                              (pageChange)="loadNewPage()" aria-label="Default pagination">
                          </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<ng-template #categoryModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create a new category</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #newCategory="ngForm" (ngSubmit)="newCategory.form.valid && onSubmit()">
        <div class="mb-3">
          <label for="titulo">Name of category</label>
          <div class="input-group">
            <input [(ngModel)]="formCategory.nombre" #nombre="ngModel" name="nombre" class="form-control"
              placeholder="Enter name of the category" required minlength="3" maxlength="31"/>
          </div>
          <div class="alert-danger" *ngIf="nombre.errors && newCategory.submitted">
            <p class="text-danger " *ngIf="nombre.errors['maxlength']">Title must be max 31 characters</p>
            <p class="text-danger " *ngIf="nombre.errors['minlength']">Title must be at least 3 characters</p>
            <p class="text-danger " *ngIf="nombre.errors['required']">Title is required</p>
          </div>
          <label for="image">Image of the category</label>
          <div class="input-group">
            <input [(ngModel)]="formCategory.image" #image="ngModel" name="image"
              class="form-control" placeholder="Enter the URL of the image"/>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btnSubmit btn-outline-dark">Create</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #editCategoryModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit {{formEditCategory.nombre}} category</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #editCategory="ngForm" (ngSubmit)="editCategory.form.valid && edit()">
        <div class="mb-3">
          <label for="titulo">Name of category</label>
          <div class="input-group">
            <input [(ngModel)]="formEditCategory.nombre" #nombre="ngModel" name="nombre" class="form-control"
              placeholder="Enter name of the category" required minlength="3" maxlength="31"/>
          </div>
          <div class="alert-danger" *ngIf="nombre.errors && editCategory.submitted">
            <p class="text-danger " *ngIf="nombre.errors['maxlength']">Title must be max 31 characters</p>
            <p class="text-danger " *ngIf="nombre.errors['minlength']">Title must be at least 3 characters</p>
            <p class="text-danger " *ngIf="nombre.errors['required']">Title is required</p>
          </div>
          <label for="image">Image of the category</label>
          <div class="input-group">
            <input [(ngModel)]="formEditCategory.image" #image="ngModel" name="image"
              class="form-control" placeholder="Enter the URL of the image"/>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btnSubmit btn-outline-dark">Edit</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="color: rgb(255, 51, 51);">Delete category</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Are you sure you want to delete <span style="color: rgb(255, 51, 51);"
                [textContent]="selectedCategory.nombre"></span>
            category?</h5>
            <div class="container" style="margin-left: 30%; margin-top: 30px;">
              <a class="btn btn-success" (click)="remove()" style="margin-right: 20px;">
                  <i class="bi bi-check-lg" style="color: white; font-size: 17px;"></i>
                  <span>Yes</span>
              </a>
              <a class="btn btn-danger" (click)="modal.dismiss()" >
                  <i class="bi bi-x-lg" style="color: white; font-size: 17px;"></i>
                  <span>Cancel</span>
              </a>
          </div>
    </div>
</ng-template>
